<!--<app-navbar></app-navbar>-->

<!--<div class="card container" style="margin-top: 10px">-->
<!--  <div class="card-header text-center lead">Add New Employee</div>-->
<!--  <div class="card-body row">-->

<!--    <div class="col-12 row">-->

<!--      <div class="col-2">-->
<!--        <label class="lead" for="name">Employee name : </label>-->
<!--      </div>-->
<!--      <div class="col-10">-->
<!--        <input type="text" id="name"-->
<!--               class=" w-100"-->
<!--               pInputTextarea name="name" required placeholder="Enter employee name">-->
<!--      </div>-->

<!--    </div>-->

<!--    <div class="col-12 row">-->

<!--      <div class="col-2">-->
<!--        <label class="lead" for="email">Employee email : </label>-->
<!--      </div>-->

<!--      <div class="col-10">-->
<!--        <input type="email" id="email"-->
<!--               class=" w-100"-->
<!--               pInputTextarea name="email" required placeholder="Enter employee email">-->
<!--      </div>-->
<!--    </div>-->

<!--&lt;!&ndash;    <div class="col-12 row">&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="col-2">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="lead" for="email">Enter His Role : </label>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="col-10">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;        <p-dropdown [options]="roles" formControlName="type" optionLabel="name"></p-dropdown>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="col-6 row">&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="col-4">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="lead" for="salary">Employee salary : </label>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="col-8">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="salary"&ndash;&gt;-->
<!--&lt;!&ndash;               class=" w-100"&ndash;&gt;-->
<!--&lt;!&ndash;               formControlName="salary"&ndash;&gt;-->
<!--&lt;!&ndash;               pInputTextarea name="salary" required placeholder="Enter employee salary">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="col-6 row">&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="col-4">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="lead" for="phone">Employee Phone :</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="col-8">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" id="phone"&ndash;&gt;-->
<!--&lt;!&ndash;               class="w-100"&ndash;&gt;-->
<!--&lt;!&ndash;               formControlName="phone"&ndash;&gt;-->
<!--&lt;!&ndash;               pInputTextarea name="phone" required placeholder="Enter employee phone">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div class="d-flex justify-content-center">-->
<!--      <button class="btn btn-danger" style="width:50%; margin-top: 5px" type="submit">Submit</button>-->
<!--    </div>-->


<!--  </div>-->
<!--</div>-->

<!--<app-footer></app-footer>-->
