<app-navbar></app-navbar>
<div class="card container" style="margin-top: 20px; padding: 5px">
  <form (ngSubmit)="submit()" [formGroup]="myform">
    <div class="card-header">
      <p class="lead text-center">Work Leave Request</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="lead">From:</p>
          <p-calendar formControlName="fromDate" [showIcon]="true"></p-calendar>
        </div>
        <div class="col-6">
          <p class="lead">To:</p>
          <p-calendar formControlName="toDate" [showIcon]="true"></p-calendar>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center">
      <button class="btn btn-danger" style="width:50%" type="submit">Submit</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
